.user-detail-header {
  margin-bottom: 32px;

  .page-title {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    margin: 0 0 7px 0;
    line-height: normal;
  }

  .page-subtitle {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #9da0a8;
    margin: 0;
    line-height: normal;
  }
}
